# GitHub
GITHUB_USERNAME=el-pablos
GITHUB_EMAIL=yeteprem.end23juni@gmail.com
GITHUB_TOKEN=FILL_YOUR_GITHUB_TOKEN_HERE
GITHUB_REPO_NAME=wa-autoreply-bot

# MySQL
DB_HOST=mysql
DB_PORT=3306
DB_NAME=wabot
DB_USER=root
DB_PASSWORD=FILL_YOUR_DB_PASSWORD_HERE

# Cloudflare
CF_ZONE_ID=FILL_YOUR_CLOUDFLARE_ZONE_ID_HERE
CF_ACCOUNT_ID=FILL_YOUR_CLOUDFLARE_ACCOUNT_ID_HERE
CF_GLOBAL_API_KEY=FILL_YOUR_CF_GLOBAL_API_KEY_HERE
CF_DNS_API_TOKEN=FILL_YOUR_CF_DNS_API_TOKEN_HERE

# Server
SERVER_DOMAIN=monitoring-wa.tams.codes
SERVER_PORT=8002
DASHBOARD_PASSWORD=FILL_YOUR_DASHBOARD_PASSWORD_HERE

# Laravel App
APP_KEY=base64:GENERATE_WITH_php_artisan_key_generate
APP_URL=https://monitoring-wa.tams.codes
